<!DOCTYPE html>
<html>
    <head>
        <title>Composer Tribute</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/lib/bootstrap.min.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
    </head>
    <body class="container" ng-app="ComposerTributeApp" ng-controller="ComposerListController">
        <h1>Famous Composers</h1>
        <div class="row col-md-12">
            <div>
                Order by:
                <select ng-init="sortBy = sortByOptions[0].value" ng-model="sortBy">
                    <option ng-repeat="option in sortByOptions" value="{{option.value}}">{{option.name}}</option>
                </select>
                Genres:
                <select ng-init="filterByGenre = filterByGenreDefault.value" ng-model="filterByGenre">
                    <option value={{filterByGenreDefault.value}} selected>{{filterByGenreDefault.name}}</option>                    
                    <option ng-repeat="genre in genres" value="{{genre.value}}">{{genre.value| capitalize}}</option>            
                </select>            
            </div>
            <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
            <ul class="row col-md-12 composers">
                <li ng-repeat="composer in composers| orderBy: sortBy | filter: filterByGenre" class="row col-md-12">
                    <img ng-src="{{composer.thumbnail}}" alt="{{composer.lname}}" height="100" width="90">
                    <div class="name">{{composer.fname}} {{composer.lname}}</div>
                    <div>
                        <span class="date">{{composer.born}} - {{composer.died}}</span>
                        <span class="genre">{{composer.genre| capitalize}}</span>                        
                    </div>
                    <div class="work-list">
                        <div ng-repeat="masterpiece in composer.masterpieces">
                            <div>{{masterpiece}}</div>
                        </div>
                    </div>
                </li>
            </ul>
            </div>                
        </div>                
        <script src="js/lib/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="js/lib/angular.min.js" type="text/javascript"></script>
        <script src="js/lib/infinite-scroll.min.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
    </body>
</html>
